/**
 * common styles
 */

/** color */
$col-dark-blue: #14215A;
$col-white: #ffffff;
$col-green: #4B6C55;
$col-black: #222222;

/** font-family */
$font-japanese: 'BIZ UDMincho';
$font-english: 游明朝;
$font-english-2: 'Crimson Text';
