<section class="auth-contents-wrapper">
  <div class="logo-content">
    <img src="../../../assets/images/logo_positive.png" width="265px" height="227px" alt="ブランドロゴ画像">
  </div>

  <form class="auth-form" action="">
    <div class="form-contents">
      <p class="form-contents-title">mail</p>
      <input class="form-contents-input" type="mail">
    </div>
    <div class="form-contents">
      <p class="form-contents-title">password</p>
      <input class="form-contents-input" type="password">
    </div>
    <div class="form-contents">
      <p class="form-contents-title">password confirmed</p>
      <input class="form-contents-input" type="password">
    </div>
  </form>

  <div class="form-contents-btn">
    <a class="auth-login-link" href="#"
      ><p>sign up</p
    ></a>
  </div>

  <div class="auth-sign-up-content">
    <a class="auth-sign-up-link" href="#">login</a>
  </div>
</section>