<section *ngIf="showMenu">
  <div class="hamburger-menu-content">
    <a class="menu-link" href="#"><p class="menu-title">top</p></a
    ><a class="menu-link" href="#"><p class="menu-title">news</p></a
    ><a class="menu-link" href="#"><p class="menu-title">product list</p></a
    ><a class="menu-link" href="#"><img src="../../../assets/images/logo_positive.png" width="247px" height="211px" alt="ロゴ画像"></a
    ><a class="menu-link" href="#"><p class="menu-title">login</p></a
    ><a class="menu-link" href="#"><p class="menu-title">contact</p></a
    ><a class="menu-link" href="#"><p class="menu-title">mypage</p></a
    ><a class="menu-link" href="#"><img src="../../../assets/images/shopping_cart_dark_blue_icon.svg" width="20px" height="24px" alt="ショッピングカート画像"></a>
  </div>
</section>