@import '../../assets/scss/common';

/**
 * Payment
 */
.payment-content {
  height: 100vh;
  width: 100%;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .payment-title {
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
