<!-- <app-parts-header></app-parts-header> -->
<!-- <p>top works!</p> -->

<article>
  <div class="firstview-image">
    <div class="image-01"></div>
    <div class="image-02"></div>
    <div class="image-03"></div>

    <div class="image-logo"></div>

    <div class="image-fv-icon"></div>
  </div>

  <div class="image-scroll-down">
    <img src="../../assets/images/scroll_down.gif" alt="">
  </div>
  <!-- <div class="image-scroll-down"></div> -->

  <!-- TODO: コーディングに動的修正をする -->
  <section class="top-contents-introduction">
    <div class="pickup-products top-pickup">
      <div class="product-introduction">
        <img class="product-image" src="../../assets/images/01_royal_tea_time.png" alt="01_royal_tea_time画像">
        <p class="product-title">01 _ royal tea time</p>
      </div>
      <div class="drop-image"><img src="../../assets/images/drop_image.svg" alt="drop_image画像"></div>
    </div>
    <div class="pickup-products top-pickup">
      <div class="product-introduction">
        <img class="product-image" src="../../assets/images/02_royal_tea_time.png" alt="02_royal_tea_time画像">
        <p class="product-title">02 _ royal tea time</p>
      </div>
      <div class="drop-image"><img src="../../assets/images/drop_image.svg" alt="drop_image画像"></div>
    </div>
    <div class="pickup-products top-pickup">
      <div class="product-introduction">
        <img class="product-image" src="../../assets/images/03_royal_tea_time.png" alt="03_royal_tea_time画像">
        <p class="product-title">03 _ royal tea time</p>
      </div>
      <div class="drop-image"><img src="../../assets/images/drop_image.svg" alt="drop_image画像"></div>
    </div>

    <div class="introduction-contents">
      <div class="brand-introduction">
        <h1 class="introduction-title">癒しのひととき</h1>
        <p class="introduction-text"
          >仕事に追われる忙しい日々。<br>
          たまの休日に、紅茶を飲んでほっと一息つきませんか？<br>
          「頑張る人たちを癒したい」<br>
          Royal Tea Timeはそんな思いから生まれました。<br>
          こだわった紅茶の味をお楽しみあれ。
        </p>
      </div>
      <div class="pickup-products">
        <div class="product-introduction">
          <img class="product-image" src="../../assets/images/04_royal_tea_time.png" alt="04_royal_tea_time画像">
          <p class="product-title">04 _ royal tea time</p>
        </div>
      </div>
    </div>
    <div class="introduction-contents intro-content-center">
      <div class="brand-introduction">
        <h1 class="introduction-title">美味しい紅茶の飲み方</h1>
        <p class="introduction-text"
          >step1　ポットとカップを温める<br>
          step2　紅茶をティーポットに入れる<br>
          step3　お湯を沸かしてポットに注ぐ<br>
          step4　茶葉を3分蒸らす<br>
          step5　茶こしでこす<br>
          紅茶を自分の手で入れて、<br>
          ゆったりとした時間を過ごしませんか？
        </p>
      </div>
      <div class="pickup-products">
        <div class="product-introduction">
          <img class="product-image" src="../../assets/images/05_royal_tea_time.png" alt="05_royal_tea_time画像">
          <p class="product-title">05 _ royal tea time</p>
        </div>
      </div>
    </div>
    <div class="introduction-contents intro-content-right">
      <div class="brand-introduction">
        <h1 class="introduction-title">使い道に合わせた紅茶</h1>
        <p class="introduction-text"
          >どなたでも気軽に紅茶をはじめていただけるよう、<br>
          茶葉の缶はもちろんティーバッグや<br>
          季節限定の詰め合わせフレーバーもご用意しております。<br>
          目的に合った商品をお選びください。
        </p>
      </div>
      <div class="pickup-products">
        <div class="product-introduction">
          <p class="product-title">06 _ royal tea time</p>
          <img class="product-image" src="../../assets/images/06_royal_tea_time.png" alt="06_royal_tea_time画像">
        </div>
      </div>
    </div>

    <div class="products-list-button">
      <p class="products-list-button-color">products list</p>
    </div>
  </section>

  <!-- TODO: 
    Swiper.jsの導入
    コンポーネントの作成
  -->
  <!-- <app-parts-news></app-parts-news> -->
  <section class="top-contents-news">
    <div class="">
      <p>お知らせ</p>
    </div>
  </section>
</article>

<!-- <app-parts-breadcrumbs></app-parts-breadcrumbs> -->
<!-- <app-parts-footer></app-parts-footer> -->
