<!-- <app-parts-header></app-parts-header> -->
<!-- <p>top works!</p> -->

<article>
  <div class="firstview-image">
    <div class="image-01"></div>
    <div class="image-02"></div>
    <div class="image-03"></div>

    <div class="image-logo"></div>

    <div class="image-fv-icon"></div>
  </div>

  <div class="image-scroll-down">
    <img src="../../assets/images/scroll_down.gif" alt="">
  </div>
  <!-- <div class="image-scroll-down"></div> -->

  <section class="top-contents-introduction">
    <div class="pickup-products">
      <div class="product-introduction first-image">
        <img src="../../assets/images/01_royal_tea_time.png" class="product-image" alt="01_royal_tea_time画像">
        <p class="product-title">01 _ royal tea time</p>
      </div>
      <div>
        <p>商品紹介二つ目</p>
      </div>
      <div>
        <p>商品紹介三つ目</p>
      </div>
    </div>

    <div class="introduction-content-1">
      <div>
        <p>癒しのひととき</p>
      </div>
    </div>
    <div class="introduction-content-2">
      <div>
        <p>美味しい紅茶の飲み方</p>
      </div>
    </div>
    <div class="introduction-content-3">
      <div>
        <p>使い道に合わせた紅茶</p>
      </div>
    </div>
  </section>

  <section class="top-contents-news">
    <div class="">
      <p>お知らせ</p>
    </div>
  </section>
</article>
