<section class="news-content-wrapper">
  <h1>news</h1>

  <swiper-container
    #swiper
    class="mySwiper"
    slides-per-view="3"
    navigation="true"
    space-between="5"
    centered-slides-bounds="true"
  >
    <swiper-slide>
      <img src="../../../assets/images/product_item_main.png" width="140px" height="140px" alt="SNS投稿画像">
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/product_item_main.png" width="140px" height="140px" alt="SNS投稿画像">
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/product_item_main.png" width="140px" height="140px" alt="SNS投稿画像">
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/product_item_main.png" width="140px" height="140px" alt="SNS投稿画像">
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/product_item_main.png" width="140px" height="140px" alt="SNS投稿画像">
    </swiper-slide>

    <div #prev class="swiper-button-prev"></div>
    <div #next class="swiper-button-next"></div>
  </swiper-container>

  <div class="product-item-link">
    <a href="#">
      <p class="detail-link-btn">read more</p>
    </a>
  </div>

</section>
