<footer class="footer-contents">
  <div class="sns-icons-group">
    <div class="sns-icon">
      <a href=""><img src="../../../assets/images/instagram_icon.svg" width="24px" height="24px" alt="instagramアイコン"></a>
    </div>
    <div class="sns-icon">
      <a href=""><img src="../../../assets/images/x_icon-fill.svg" width="24px" height="24px" alt="xアイコン"></a>
    </div>
    <div class="sns-icon">
      <a href=""><img src="../../../assets/images/youtube_icon.svg" width="24px" height="24px" alt="youtubeアイコン"></a>
    </div>
    <div class="sns-icon">
      <a href=""><img src="../../../assets/images/line_icon.svg" width="24px" height="24px" alt="lineアイコン"></a>
    </div>
    <div class="sns-icon">
      <a href=""><img src="../../../assets/images/facebook_icon.svg" width="24px" height="24px" alt="facebookアイコン"></a>
    </div>
  </div>

  <div class="company-infomation-group">
    <div class="company-logo">
      <a href=""><img src="../../../assets/images/logomark_negative.png" width="124px" height="114px" alt="logo画像"></a>
    </div>
    <div class="company-infomation">
      <p class="company-infomation-text">株式会社 Royal Tea Time</p>
      <p class="company-infomation-text">紅茶県紅茶市紅茶区紅茶町509-16</p>
      <p class="company-infomation-text">電話番号 123-4567-8910</p>
    </div>
  </div>

  <div class="terms-of-service"
    ><a href="">利用規約</a><span> | </span
    ><a href="">プライバシーポリシー</a><span> | </span
    ><a href="">個人情報の取り扱いについて</a
  ></div>

  <div class="other-link">
    <p class="other-link-text footer-link"><a href="">サイトマップ</a></p>
    <p class="other-link-text footer-link"><a href="">ご利用ガイド・ヘルプ</a></p>
    <p class="other-link-text footer-link"><a href="">お問い合わせ</a></p>
    <p class="other-link-text copy-right">&copy; 2024 Royal Tea Time</p>
  </div>
</footer>
